<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="main-header-top-bar">
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
            <div class="search">
                <form class="search-bar-form" action="/listar.html">
                    <input class="barra" type="search" , placeholder="Buscar productos">
                    <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <h3 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
                tarjeta de crédito</h3>
        </div>

        <a class="burger-menu">
            <i class="fas fa-bars fa-lg"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#" target="_blank">Ofertas</a></li>
                <li><a href="#" target="_blank">Tiendas oficiales</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
            </ul>

            <ul class="rigth-navbar">
                <li><a href="/register.html" target="_blank">Creá tu cuenta</a><i class="fa-regular fa-id-card"
                        id="icon-nav"></i></li>
                <li><a href="/login.html" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"
                        id="icon-nav"></i></li>
                <li><a href=" #" target="_blank">Mis compras</a><i class="fa-solid fa-cart-shopping" id="icon-nav"></i>
                </li>
            </ul>

        </nav>
    </header>

    <main>
        <section>
            <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
        </section>

        <section class="lista-productos">
            <h4 class="titulares">Basado en tu última visita</h4>
            <div class="contenedor-articulos">
                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones"> Cafetera Moulinex</h4>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" alt="MacBook-PRO">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripciones"> MacBook-PRO</h4>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripciones">Samsung Galaxy S1</h4>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-tv-samsung-smart.jpg" alt="SmarTv Samsung 43">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h4 class="descripciones">SmarTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <h4 class="titulares">Ofertas</h4>
            <div class="contenedor-articulos">
                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h4 class="descripciones"> Cafetera Moulinex</h4>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" alt="MacBook-PRO">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripciones"> MacBook-PRO</h4>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripciones">Samsung Galaxy S1</h4>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen-producto" src="/images/img-tv-samsung-smart.jpg" alt="SmarTv Samsung 43">
                    <div class="contenedor01">
                        <i class="fa-solid fa-truck-fast" style="color: #39b54a;" id="icon-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h4 class="descripciones">SmarTv Samsung 43"</h4>
                    </div>
                </article>
            </div>

        </section>
    </main>

    <footer>
        <section class="contenedor02">
            <div class="pie-de-pagina">
                <div>
                    <i class="fa-solid fa-credit-card fa-2x" style="color: #03264C" padding-bottom="10px"></i>
                    <p class="p01">Pagá con tarjeta de crédito o efectivo</p>
                    <p class="p02">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <i class="fa-solid fa-gift fa-2x" style="color: #03264C" padding-bottom="10px"></i>
                    <p class="p01">Envío gratis desde $ 2.50</p>
                    <p class="p02">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>

                <div>
                    <i class="fa-solid fa-user-shield fa-2x" style="color:#03264C" padding-bottom="10px"></i>
                    <p class="p01">Seguridad, de principio a fin</p>
                    <p class="p02">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>

            </div>
            <p class="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L</p>
        </section>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>