<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">

</head>

<body>
    <header class="header">
        <div class="main-header-top-bar">
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
            <div class="search">
                <form class="search-bar-form" action="/listar.html">
                    <input class="barra" type="search" , placeholder="Buscar productos">
                    <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <h3 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
                tarjeta de crédito</h3>
        </div>

        <a class="burger-menu">
            <i class="fas fa-bars fa-lg"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#" target="_blank">Ofertas</a></li>
                <li><a href="#" target="_blank">Tiendas oficiales</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
            </ul>

            <ul class="rigth-navbar">
                <li><a href="/register.html" target="_blank">Creá tu cuenta</a><i class="fa-regular fa-id-card"
                        id="icon-nav"></i></li>
                <li><a href="/login.html" target="_blank">Ingresá</a><i class="fa-solid fa-right-to-bracket"
                        id="icon-nav"></i></li>
                <li><a href=" #" target="_blank">Mis compras</a><i class="fa-solid fa-cart-shopping" id="icon-nav"></i>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main-form">
        <form action="/crear-usuario" method="POST" class="create-form">
            <div class="control-formulario">
                <h4>Completa los datos de inscripción:</h4>
            </div>
            <div class="control-formulario">
                <label for="nombre" class="input-label">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido: Ej: Juan Pérez"
                        value="Escribe tu nombre"
                        pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
                        class="control" required>
                    <div class="msg-error">Debes completar este campo sólo con letras. <i
                            class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="nombre-usuario" class="input-label">
                    <input type="text" name="nombre-usuario" id="nombre-usuario"
                        placeholder="Nombre de usuari@ Ej: User1" value="Usuari@" pattern="[A-Za-z0-9!?-@]{6,12}"
                        class="control" required>
                    <div class="msg-error">Podrá contener de 6 a 12 letras mayúsculas, minúsculas, números. Admite solo
                        los caracteres ! ? - @ <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="e-mail" class="input-label">
                    <input type="email" name="e-mail" id="e-mail" placeholder="e-mail" value="email@lol.com"
                        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" class="control"
                        required>
                    <div class="msg-error">Debes ingresar una direccion de e-mail compatible <i
                            class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            <div class="control-formulario">
                <h4>Fecha de nacimiento:</h4>
                <label for="dia-nacimiento" class="input-label">
                    <input type="date" name="dia-nacimiento" id="dia-nacimiento" required pattern="\d{4}-\d{2}-\d{2}"
                        id="dia-nacimiento" pattern="[a-zA-Z ]{2,254}" required>
                    <div class="msg-error">Debes ingresar una fecha</div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="address" class="input-label">
                    <input type="text" name="address" id="address" placeholder="Dirección: Ej: Las Amapolas 856"
                        value="Calle 444" class="control"
                        required>
                    <div class="msg-error">Ingresar la calle y número. Opcional un numero de piso y departamento <i
                            class="fa-solid fa-circle-exclamation" id="icon-danger"></i>
                    </div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="conutry" class="input-label">
                    <input type="text" name="country" id="country" value="País" placeholder="País"
                        pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
                        class="control" required>
                    <div class="msg-error">Debes ingresar el país <i class="fa-solid fa-circle-exclamation"
                            id="icon-danger"></i></div>
                </label>
            </div>


            <div class="control-formulario">
                <label for="state" class="input-label">
                    <input type="text" name="state" id="state" placeholder="Estado o provincia"
                        value="Estado o provincia"
                        pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}"
                        class="control" pattern="[a-zA-Z ]{2,254}" required>
                    <div class="msg-error">Debes ingresar un Estado o Provincia <i
                            class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="cp" class="input-label">
                    <input type="number" name="cp" id="cp" placeholder="Código Postal" value="1234" class="control"
                        max="99999" maxlength="5" required>
                    <div class="msg-error">Debes ingresar el código postal de tu cuidad <i
                            class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            </div>

            <div class="control-formulario">
                <h4>Perfil de Usuario:</h4>
                <div class="padre-control">
                    <div class="hijo-control">
                        <label class="label-control" for="buyer-seller">Comprador
                            <input type="radio" name="buyer-seller" id="buyer" required>
                            <div class="msg-error">Debes elegir un perfil de usuario.</div>
                        </label>
                    </div>
                    <div class="hijo-control">

                        <label class="label-control" for="buyer-seller">Vendedor
                            <input type="radio" name="buyer-seller" id="seller">
                        </label>
                    </div>
                </div>
            </div>

            <div class="control-formulario">
                <h4>Intereses:</h4>
                <div class="padre-control2">
                    <div class="hijo-control2">
                        <input type="checkbox" name="electro" id="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="moda" id="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="hogar" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="jugueteria" id="jugueteria">
                        <label for="jugueteria">Juguetería</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="vida-sana" id="vida-sana">
                        <label for="vida-sana">Vida Sana</label>
                    </div>

                </div>
            </div>
            <div class="control-formulario">
                <h4 class="image-h4">Selecciona una imagen para tu perfil:</h4>
                <label for="image-profile" class="label-image-profile">
                    <input type="file" name="image-profile" id="image-profile" accept=".jpg, .png" optional>
                </label>
            </div>

            <div class="control-formulario">
                <label for="pass" class="input-label">
                    <input type="password" name="pass" id="pass"
                        placeholder="Requiere una mayúsculas y mínimo 8 caracteres" class="control"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <div class="msg-error">Debes ingresar una contraseña válida <i
                            class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
                <br>
                <label for="pass2" class="input-label">
                    <input type="password" name="pass2" id="pass2" placeholder="Reingresá tu contraseña" class="control"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <div class="msg-error">Confirma la contraseña<i class="fa-solid fa-circle-exclamation"
                            id="icon-danger"></i></div>
                </label>
            </div>
            <br>
            <div class="control-formulario">
                <button type="reset" class="button-form">Limpiar</button>
                <button type="submit" class="button-form"> <a href="/" target="_blank">Creá tu cuenta</a></button>
            </div>
        </form>
    </main>

    <footer>
        <section class="contenedor02">
            <div class="pie-de-pagina">
                <div>
                    <i class="fa-solid fa-credit-card fa-2x" padding-bottom="10px" id="icono-pie-de-pagina"></i>
                    <p class="p01">Pagá con tarjeta de crédito o efectivo</p>
                    <p class="p02">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <i class="fa-solid fa-gift fa-2x" padding-bottom="10px" id="icono-pie-de-pagina"></i>
                    <p class="p01">Envío gratis desde $ 2.500</p>
                    <p class="p02">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>

                <div>
                    <i class="fa-solid fa-user-shield fa-2x" padding-bottom="10px" id="icono-pie-de-pagina"></i>
                    <p class="p01">Seguridad, de principio a fin</p>
                    <p class="p02">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>

            </div>
            <p class="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L</p>
        </section>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>